:root {
    --accent-color: #467565;
    --links-color: #EEEEEE;
    --background-color: #181C14;
    --text-color: #EEEEEE;
    --ul-ol-background-color: #3C3D37;
    --lists-background: #555D69;
    --code-background: #000;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@2.304/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono@2.304/fonts/webfonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 1em auto;
    max-width: 40em;
    font-family: 'JetBrains Mono', monospace, sans-serif;
    line-height: 1.62;
    padding: 0 0.92em 3.64em;
    overflow-wrap: break-word;
}

code {
    background-color: var(--code-background);
    padding: 0 8px;
    border-radius: 5px;
    font-family: 'JetBrains Mono', monospace, sans-serif;
    font-size: 0.95em;
    font-weight: bold;
    display: inline-block;
    word-break: break-word;
    white-space: pre-wrap;
 }

input {
    background-color: #171f0e;
    width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #6e7065;
    border-radius: 10px;
    color: #fff;
}

button {
    background-color: #6e7065;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace, sans-serif;
    width: 100%;
}

h1, h2 {
    color: #e1e1e1;
}

h1, h2 {
    line-height: 1.2;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

a {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 2px;
}

a:hover {
    font-weight: bold;
}

a {
    word-break: break-word;
}

ul, p {
    background: var(--ul-ol-background-color);
    padding: 10px 10px 10px 20px;
    list-style-position: inside;
    border-radius: 15px;
}

p {
    padding-left: 17px;
}

ul {
    list-style-type: disc;
}

.colored::first-letter {
    color: var(--accent-color);
}
