{% extends "base.html" %}

{% block title %}
    create - shl
{% endblock %}

{% block content %}
    <h1 class="colored">shl</h1>
    <p><a href="/">shl</a> - a easy to use, minimal, and fast url shortener. no bullshitting, no trackers, no ads, no javascript.</p>

    {% if shl_data["status"] == "good" %}
        <h2>shl link was created</h2>
        <p>Share the shl link you just made by copying this URL: <code>{{ shl_data["data"]["link_shlink"] }}</code></p>

        <ul>
            <li>Link ID: {{ shl_data["data"]["link_id"] }}</li>
            <li>Redirects to: <a href="{{ shl_data["data"]["link_redirects_to"] }}">{{ shl_data["data"]["link_redirects_to"] }}</a></li>
            <li>And was created at: {{ datetime.datetime.fromtimestamp(shl_data["data"]["link_created_timestamp"], datetime.UTC).strftime("%A, %B %d %Y - %I:%M:%S %p %Z (%z)") }}</li>
        </ul>
    {% else %}
        <h2 class="red">An error occured</h2>
        <p>The requested URL could not be shortened, because the API returned an error. Read the API response below for more information.</p>

        <h2>API response</h2>
        <code>{{ shl_data }}</code>
    {% endif %}
{% endblock %}
