{% extends "base.html" %}

{% block title %}
    get - shl
{% endblock %}

{% block content %}
    <h1 class="colored">shl</h1>
    <p><a href="/">shl</a> - A easy to use, minimal, and fast url shortener. no trackers, no ads, no javascript, and bloat-free.</p>

    <h2>Details for shl link</h2>
    <ul>
        <li>Link ID: <code>{{ shl_data['data']['link_id'] }}</code></li>
        <li>Redirects to: <a href="{{ shl_data['data']['link_redirects_to'] }}">{{ shl_data['data']['link_redirects_to'] }}</a></li>
        <li>And was created at: {{ datetime.datetime.fromtimestamp(shl_data['data']['link_created_timestamp'], datetime.UTC).strftime("%A, %B %d %Y - %I:%M:%S %p %Z (%z)") }}</li>
    </ul>
{% endblock %}
