{% extends "base.html" %}

{% block title %}
    index - shl
{% endblock %}

{% block content %}
    <h1 class="colored">shl</h1>
    <p><a href="https://github.com/devlocalhost/shl">shl</a> - a easy to use, minimal, and fast url shortener. no bullshitting, no trackers, no ads, no javascript. {{ total_shlinks }} links shortened so far!</p>

    <h2>API</h2>
    <p>Want to integrate shl into your app? Check the API docs by clicking <a href="/api">here</a>.</p>

    <h2>Try it</h2>
    <p>Quickly generate a short link by entering just the URL. Or, if you want to remember it, set a custom ID.</p>

    <form action="/create">
        <label for="link_redirect">Enter URL</label>
        <input type="url" id="link_redirect" name="link_redirect" placeholder="https://dev64.xyz" required="">

        <label for="search_query">Enter custom ID (optional)</label>
        <input type="text" id="link_id" name="link_id" placeholder="website">

        <button type="submit">Generate</button>
    </form>

    <h2>Find a shl</h2>
    <p>Do you remember the ID of the link? Enter it here, and find details about it such as creation date, and where it redirects to.</p>

    <form action="/get">
        <label for="link_id">Enter shl ID</label>
        <input type="text" id="link_id" name="link_id" placeholder="website" required="">

        <button type="submit">Search</button>
    </form>
{% endblock %}
