{% extends "base.html" %}

{% block head %}
{{ super() }}
    <style>
        .red::first-letter {
            color: #f04947;
        }
    </style>
{% endblock %}

{% block title %}
    create - shl
{% endblock %}

{% block content %}
    <h1 class="red">shl</h1>
    <p><a href="/">shl</a> - A easy to use, minimal, and fast url shortener. no trackers, no ads, no javascript, and bloat-free.</p>

    <h2>Not found</h2>
    <p>The shl link with ID <code>{{ link_id }}</code> was not found. Are you sure you entered the correct ID? Maybe it was deleted? Click <a href="/">here</a> to go back.</p>
{% endblock %}
